main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    border-radius: 100%;
}
h1 {
    color: gray;
}
h3 {
    color: lightgray;
    font-weight: 300;
    margin-top: -16px;
}
button {
    padding: 8px;
    background-color: gray;
    border: none;
    color: white;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover{
    background-color: lightgray;
    color: black;
}